
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

/* Brought over from original FitAI */

// Font
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$font-size: 16px;
$primary-color: #000;

$blue: #00aeef;
$blue2: #00a6dd;
$blue-dark: #0081b1;
$blue-light: #abe4fa;

$grey: #969696;
$grey-dark: #5f5f5f;
$grey-light: #ccc;

$orange: #FF8500;
$orange-light: #ffbc72;

$red: #FF2C00;
$red2: #ea0000;
$red-dark: #b90000;
$red-light: #d40000;

$white: #FFF;

$yellow: #FFB600;

$form-border: 1px solid rgb(169, 169, 169);
